
  @media (max-width:3040px){
    body {
      margin: 0px;
      padding: 1px;
      text-align: center;
    }
    .header{
      width: 100%;
      padding-top: 20px;
      padding-left: 5%;
    }
    .h1-welcome{
      color: #036635;
      padding-bottom: 2%;
    }
    #button-higth{
      width: 100%;
      color: #036635;
      background-color: white;
      outline: none;
      border: none;
      text-align: center;
      font-size: 65%;
      white-space: none;
    }
    .coffe-img{
      text-align: center;
      width: 10%;
    }
    .inner-header-acordeon{
      width: 100%;
      padding-bottom: 10%;
      padding-left: 15%;
      padding-right: 15%;
    }
    .img-de-cafes{
      width: 50%;
      padding-left: 20%;
    }


  }
  @media (max-width: 1980px) {
    body {
      margin: 0px;
      padding: 1px;
      text-align: center;
    }
    .header{
      width: 100%;
      padding-top: 20px;
      padding-left: 5%;
    }

    .h1-welcome{
      color: #036635;
      padding-bottom: 2%;
    }
    #button-higth{
      width: 100%;
      color: #036635;
      background-color: white;
      outline: none;
      border: none;
      text-align: center;
      font-size: 200%;
      white-space: none;
    }

    .coffe-img{
      width: 10%;
      text-align: center;
    }
    .inner-header-acordeon{
      width: 100%;
      padding-bottom: 10%;
      padding-left: 15%;
      padding-right: 15%;
    }
    .img-de-cafes{
      width: 50%;
      padding-left: 20%;
    }

  }
  @media (max-width: 1024px) {
    body {
      margin: 0px;
      padding: 1px;
      text-align: center;
    }
    .header{
      width: 100%;
      padding-top: 20px;
      padding-left: 5%;
    }
    .h1-welcome{
      color: #036635;
      padding-bottom: 2%;
    }
    #button-higth{
      width: 100%;
      color: #036635;
      background-color: white;
      outline: none;
      border: none;
      text-align: center;
      font-size: 100%;
      white-space: none;
    }
    .coffe-img{
      width: 75%;
      text-align: center;
    }
    .inner-header-acordeon{
      width: 100%;
      padding-bottom: 10%;
      padding-left: 15%;
      padding-right: 15%;
    }
    .img-de-cafes{
      width: 50%;
      padding-left: 20%;
    }
  }
  
  @media (max-width: 768px) {
    body {
      margin: 0px;
      padding: 1px;
      text-align: center;
    }
    .header{
      width: 100%;
      padding-top: 20px;
      padding-left: 5%;
    }
    .h1-welcome{
      color: #036635;
      padding-bottom: 2%;
    }
    #button-higth{
      width: 100%;
      color: #036635;
      background-color: white;
      outline: none;
      border: none;
      text-align: justify;
      font-size: 65%;
      white-space: none;
    }
    .coffe-img{
      width: 65%;
      text-align: center;
    }
    .inner-header-acordeon{
      width: 100%;
      padding-bottom: 10%;
      padding-left: 15%;
      padding-right: 15%;
    }
    .img-de-cafes{
      width: 50%;
      padding-left: 20%;
    }
  }
  
  @media (max-width: 480px) {
    body {
      margin: 0px;
      padding: 1px;
      text-align: center;
    }
    .header{
      width: 100%;
      padding-top: 20px;
      padding-left: 5%;
    }
    .h1-welcome{
      color: #036635;
      padding-bottom: 2%;
    }
    #button-higth{
      width: 50%;
      color: #036635;
      background-color: white;
      outline: none;
      border: none;
      text-align: justify;
      font-size: 65%;
      white-space: none;
    }
    .coffe-img{
      width: 50%;
      text-align: center;
    }
    .inner-header-acordeon{
      width: 100%;
      padding-bottom: 10%;
      padding-left: 15%;
      padding-right: 15%;
    }
    .img-de-cafes{
      width: 50%;
      padding-left: 20%;
    }
  }

  @media (max-width: 320px) {
    body {
      margin: 0px;
      padding: 1px;
      text-align: center;
    }
    .header{
      width: 100%;
      padding-top: 20px;
      padding-left: 5%;
    }
    .h1-welcome{
      color: #036635;
      padding-bottom: 2%;
    }
    #button-higth{
      width: 50%;
      color: #036635;
      background-color: white;
      outline: none;
      border: none;
      text-align: justify;
      font-size: 75%;
      white-space: none;
    }
    .coffe-img{
      width: 30%;
      text-align: center;
    }
    .inner-header-acordeon{
      width: 100%;
      padding-bottom: 10%;
      padding-left: 15%;
      padding-right: 15%;
    }
    .img-de-cafes{
      width: 50%;
      padding-left: 25%;
    }
}
