body {
    background-color:#00B4D8;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 0px;
    padding: 1px;
  
  }
  @media (max-width: 1980px) {
    .header {
        width: 100%;
        height: 50%;
        padding-right: 5%;
      }
      
      .inner-header {
        padding-left: 5%;
        padding-top: 5%;
        padding-right: 5%;
        text-align: center;
      }
      .h1-header{
          color: #ddf42e;
      }
  }
  @media (max-width: 1024px) {
    .header {
      width: 100%;
      height: 50%;
      padding-right: 5%;
    }
    
    .inner-header {
      padding-left: 5%;
      padding-top: 5%;
      padding-right: 5%;
      text-align: center;
    }
    .h1-header{
        color: #ddf42e;
    }

  
  }
  
  @media (max-width: 768px) {
    header {
      width: 100%;
      height: 50%;
      padding-right: 5%;
    }
  
    .inner-header {
      padding-left: 5%;
      padding-top: 5%;
      padding-right: 5%;
      text-align: center;
    }
    .h1-header{
        color: #ddf42e;
    }
    
  }
  
  @media (max-width: 480px) {
    header {
      width: 100%;
      height: 50%;
      padding-right: 5%;
    }
  
    .inner-header {
      padding-left: 5%;
      padding-top: 5%;
      padding-right: 5%;
      text-align: center;
    }
    .h1-header{
        color: #ddf42e;
    }
  }

  @media (max-width: 320px) {
    header {
      width: 100%;
      height: 50%;
      padding-right: 5%;
    }
  
    .inner-header {
      padding-left: 5%;
      padding-top: 5%;
      padding-right:5%;
      text-align: center;
    }
    .h1-header{
        color: #ddf42e;
    }
}
