body {
    background-color: #036635;;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 0px;
    padding: 1px;
  
  }
  @media (max-width:3040px){
    .header{
      width: 100%;
      padding-top: 20px;
      padding-left: 35%;
    }
    #button-higth{
      width: 20%;
      background-color: white;
      color: #036635;
    }
    .inner-header-acordeon{
      padding: 15%;
      width: 100%;
    }


  }
  @media (max-width: 1980px) {
    .header{
      width: 100%;
      padding-top: 20px;
      padding-left: 35%;
    }
    #button-higth{
      width: 25%;
    }
  }
  @media (max-width: 1024px) {

    .header{
      width: 100%;
      padding-top: 20px;
      padding-left: 35%;
    }
    #button-higth{
      width: 35%;
    }
  }
  
  @media (max-width: 768px) {
 
    .header{
      width: 100%;
      padding-top: 20px;
      padding-left: 35%;
    }
    #button-higth{
      width: 30%;
    }
  }
  
  @media (max-width: 480px) {
    .header{
      width: 100%;
      padding-top: 20px;
      padding-left: 35%;
    }
    #button-higth{
      width: 35%;
    }
  }

  @media (max-width: 320px) {
    .header{
      width: 100%;
      padding-top: 20px;
      padding-left: 35%;
    }
    #button-higth{
      width: 50%;
    }
}
