body {
    background-color: #036635;;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 0px;
    padding: 1px;
  
  }
  @media (max-width:3040px){
    .header{
      width: 100%;
      padding-top: 20px;
      padding-left: 20%;
    }
    .h1-welcome{
      color: white;
      padding-bottom: 2%;
    }
    #button-higth{
      width: 20%;
      background-color: white;
      color: #036635;
    }
    .inner-header-acordeon{
      width: 100%;
      padding-bottom: 10%;
      padding-left: 15%;
      padding-right: 15%;
    }
    .img-de-cafes{
      width: 50%;
      padding-left: 20%;
    }


  }
  @media (max-width: 1980px) {
    .header{
      width: 100%;
      padding-top: 20px;
      padding-left: 20%;
    }

    .h1-welcome{
      color: white;
      padding-bottom: 2%;
    }

    #button-higth{
      width: 25%;
    }
    .inner-header-acordeon{
      width: 100%;
      padding-bottom: 10%;
      padding-left: 15%;
      padding-right: 15%;
    }
    .img-de-cafes{
      width: 50%;
      padding-left: 20%;
    }
  }
  @media (max-width: 1024px) {

    .header{
      width: 100%;
      padding-top: 20px;
      padding-left: 35%;
    }
    .h1-welcome{
      color: white;
      padding-bottom: 2%;
    }
    #button-higth{
      width: 35%;
    }
    .inner-header-acordeon{
      width: 100%;
      padding-bottom: 10%;
      padding-left: 15%;
      padding-right: 15%;
    }
    .img-de-cafes{
      width: 50%;
      padding-left: 20%;
    }
  }
  
  @media (max-width: 768px) {
 
    .header{
      width: 100%;
      padding-top: 20px;
      padding-left: 20%;
    }
    .h1-welcome{
      color: white;
      padding-bottom: 2%;
    }
    #button-higth{
      width: 50%;
    }
    .inner-header-acordeon{
      width: 100%;
      padding-bottom: 10%;
      padding-left: 15%;
      padding-right: 15%;
    }
    .img-de-cafes{
      width: 50%;
      padding-left: 20%;
    }
  }
  
  @media (max-width: 480px) {
    .header{
      width: 100%;
      padding-top: 20px;
      padding-left: 15%;
    }
    .h1-welcome{
      color: white;
      padding-bottom: 2%;
    }
    #button-higth{
      width: 100%;
    }
    .inner-header-acordeon{
      width: 100%;
      padding-bottom: 10%;
      padding-left: 15%;
      padding-right: 15%;
    }
    .img-de-cafes{
      width: 50%;
      padding-left: 20%;
    }
  }

  @media (max-width: 320px) {
    .header{
      width: 100%;
      padding-top: 20px;
      padding-left: 5%;
    }
    .h1-welcome{
      color: white;
      padding-bottom: 2%;
    }
    #button-higth{
      width: 100%;
    }
    .inner-header-acordeon{
      width: 100%;
      padding-bottom: 10%;
      padding-left: 15%;
      padding-right: 15%;
    }
    .img-de-cafes{
      width: 50%;
      padding-left: 25%;
    }
}
